        #coment {
            width: 93%;
            height: 600px;
            margin-bottom: 0;
            margin-left: 3%;
            margin-top: 10%;
            align-self: end;
            text-align: left;
            background-color: rgba(51, 50, 50, 0.09);
            overflow: auto;
        }

        .flex-container {
            width: 96%;
            height: 1500px;
            color: rgba(125, 125, 125, 0.75);
            margin-top: 25px;
            margin-left: 2%;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        .flex-item:nth-child(1) {
            width: 20%;
            background-color: rgba(51, 50, 50, 0.09);
            color: rgba(255, 240, 175, 0.75);
            box-shadow: 0 0 10px #757575;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 59 auto;
            -ms-flex: 0 59 auto;
            flex: 0 59 auto;
            -webkit-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;
        }

        .flex-item:nth-child(2) {
            width: 79%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            color: rgba(12, 12, 12, 0.82);
            box-shadow: 0 0 10px #757575;
            -webkit-order: 0;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
        }
        .flex-container2 {
            width: 96%;
            color: rgba(125, 125, 125, 0.75);
            margin-top: 25px;
            margin-left: 2%;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }